/* Estilo geral da página */
body {
    font-family: Arial, sans-serif;       /* Define a fonte padrão como Arial (ou similar sans-serif) */
    background-color: black;            /* Cor de fundo clara para a página */
    margin: 0;                            /* Remove as margens padrão do navegador */
    padding: 20px;                        /* Adiciona espaçamento interno de 20px em toda a página */
}

/* Área central que envolve o conteúdo */
.container {
    max-width: 800px;                     /* Define largura máxima de 800px */
    margin: 0 auto;                       /* Centraliza horizontalmente (auto nas laterais) */
    background-color: #fff;               /* Fundo branco para destacar o conteúdo */
    padding: 20px;                         /* Espaçamento interno (padding) */
    border-radius: 10px;                   /* Cantos arredondados */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra suave para dar efeito de elevação */
}

/* Título principal */
h1 {
    text-align: center;                   /* Centraliza o texto */
    color: #333;                           /* Cor do texto em tom cinza escuro */
    margin-bottom: 30px;                   /* Espaço abaixo do título */
}

/* Tabela */
table {
    width: 100%;                           /* Tabela ocupa toda a largura disponível */
    border-collapse: collapse;             /* Remove espaços entre bordas das células */
}

/* Cabeçalhos e células da tabela */
th,
td {
    padding: 12px 15px;                    /* Espaçamento interno nas células */
    text-align: left;                      /* Alinhamento do texto à esquerda */
    border-bottom: 1px solid #ddd;         /* Linha fina separando as linhas da tabela */
}

/* Cabeçalhos da tabela */
th {
    background-color: #353535;             /* Fundo azul */
    color: white;                          /* Texto branco */
}

/* Linhas pares da tabela (efeito "zebrado") */
tr:nth-child(even) {
    background-color: #f2f2f2;             /* Cor de fundo levemente cinza */
}

/* Efeito ao passar o mouse sobre uma linha */
tr:hover {
    background-color: #e0e0e0;             /* Cor de destaque ao passar o mouse */
}

.th-update {
    background-color: #353535; /* Cor de fundo para diferenciar a tabela de atualização */
}

input {
    width: 125px; /* Define largura fixa dos campos do formulário */
}

.button-update {
    background-color: #3a3a3a; /* Azul para destacar botão de atualização */
    color: #fff;               /* Texto branco */
    border: none;              /* Remove bordas */
    border-radius: 6px;        /* Cantos arredondados */
    padding: 8px 16px;         /* Espaçamento interno */
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;           /* Cursor de mãozinha */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15); /* Efeito de sombra */
}
.button-update:hover {
    background-color: #353535; /* Cor de destaque ao passar o mouse */
}
#btn-atualizar:hover{
    background-color: #b67575;
}