<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuários</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='usuarios.css')}}">
</head>

<body>
    <div class="container">
        <h1>Usuários cadastrados</h1>
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>Idade</th>
                    <th>CPF</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                <tr id="linha-{{ usuario.id }}">
                    <td>{{ usuario.nome }}</td>
                    <td>{{ usuario.email }}</td>
                    <td>{{ usuario.idade }}</td>
                    <td>{{ usuario.cpf}}</td>
                    <td>
                        <button style="cursor: pointer;" title="Excluir usuário" onclick="excluirUsuario('{{usuario.id}}', '{{usuario.cpf}}')">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-trash-fill" viewBox="0 0 16 16">
                                <path
                                    d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0" />
                            </svg>
                        </button>
                    </td>
                </tr>
                {% endfor%}
            </tbody>
        </table>
    </div>
    <div>
        <script>
            function excluirUsuario(id, cpf) {
                if (!confirm(`Tem certeza que deseja  excluir o usuário com o CPF ${cpf}?`)) {
                    return
                }

                fetch(`/usuarios/${id}`, {
                    method: 'DELETE'
                })
                    .then(response => {
                        return response.json().then(data => {
                            if (!response.ok) {
                                throw new Error(data.erro || "Erro desconhecido")
                            }
                            return data;
                        })
                    })
                    .then(data => {
                        alert(data.mensagem);
                        const linha = document.getElementById('linha-' + id)
                        if (linha) linha.remove();
                    })
                    .catch(error => {
                        console.error("Erro na requisição", error);
                        alert("Errro ao excluir usuário" + error.message)
                    })
            }
        </script>
    </div>
</body>

</html>