<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuários</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='usuarios.css') }}">

</head>
<body>
    <h1>Usuários Cadastrados</h1>
    <table>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Idade</th>
            <th>Senha</th>
        </tr>
        {% for usuario in usuarios %}
        <tr>
            <td>{{ usuario.nome }}</td>
            <td>{{ usuario.email }}</td>
            <td>{{ usuario.idade }}</td>
            <td>{{ usuario.senha }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="/">Voltar ao cadastro</a>
</body>
</html>

